<a href="https://colab.research.google.com/github/lkoenigs-2025/Module-3/blob/main/MCON_232_FQ_module3_strings_lab_LeahKoenigsberg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 – Strings Lab

**MCON 232 FQ – In‑Class Lab Notebook**

This notebook is for you to work through during class.  
Run cells, try small experiments, and complete the **TODO** parts.

⚠️ *Do not erase the prompts.*  Add your work **below** the comments or where indicated.

## 1. Strings as Sequences
A string is a sequence of characters. You can use `len()`, indexing, and slicing, just as with other sequence types.

Below we define a sample string to explore:

In [10]:
my_string = "hello"
my_string += " world"
#same thing as saying:
print(my_string)

my_string= "hello"
my_string = my_string + " world"

print(my_string)

hello world
hello world

In [11]:
#if u do id(my_string) it points to a whole new location cuz u create a new one
my_string= "hello"
print(id(my_string))

my_string = my_string + " world"

print(my_string)
print(id(my_string))

132958200454272
hello world
132957678369648

In [25]:
#strip, replace and uppwercase methods (can put all on one line or on sep lines...)
name = "    Leah   "
#number of charac in string including spaces
print(len(name))

name = name.strip().replace("H","K").upper()
print(name)

#number of charac in string not incl spaces
print(len(name))

11
LEAH
4

In [22]:
s = "Touro LAS"
print("The string is:", s)
print("Length of s:", len(s))  # Example

# TODO: Print the first and last character of s using indexing.
# print("First character:", ...)
# print("Last character:", ...)

print(s[0])
print(s[-1])

The string is: Touro LAS
Length of s: 9
T
S

In [29]:
# TODO: Explore some slices of s.
s = "Touro LAS"

# Example (already done for you):
print("s[0:4]:", s[0:4])   # expect Tour

# Now you try:
# 1) Print the slice that gives you just "LAS".
# 2) Print the slice that gives you "Touro".
# 3) Print the slice that gives you everything except the first character.
# Use print() so you can see the results.

print(s[-3:])  #1
print(s[:5])   #2
print(s[1:])   #3

s[0:4]: Tour
LAS
Touro
ouro LAS

### Reflection
- In slicing `s[start:stop]`, which index is **included**?  
- Which index is **not included**?
- What does a negative index (e.g. `s[-1]`) refer to?

Write a short explanation in a comment in the cell below.

In [30]:
# TODO: In comments, explain slicing in your own words.
# For example: start is ..., stop is ..., negative indices mean ...
#start: is includes
#stop: up to but not included
#step: what it goes by (every other etc)
#negative starts from last element in string from -1 and goes up from there

## 2. Iterating Over Strings
Strings are **iterable**, so you can loop through them character by character.

In [42]:
#3 ways to loop over
one = "Good Morning!"

#Number 1:
for char in s:
  print(char, end ='')
print()

#Number 2- INDEX:
for i in range(len(one)):
  print(one[i], end = '')
print()
print()

#Number 3- ENUMERATE:
for index, char in enumerate(one):
  print(index, char, one[index])

Good Morning!
Good Morning!

0 G G
1 o o
2 o o
3 d d
4
5 M M
6 o o
7 r r
8 n n
9 i i
10 n n
11 g g
12 ! !

In [44]:
school = "Touro"

print("Iteration style #1 – direct:")
for ch in school:
    print(ch)

# TODO: Using range(len(school)), print the index and the character on each line.
# Example format: Index 0: T
# for i in range(...):
#     ...
print()
for i in range(len(school)):
  print(i, school[i])

Iteration style #1 – direct:
T
o
u
r
o

0 T
1 o
2 u
3 r
4 o

In [45]:
# TODO: Use enumerate() to loop over school and print both index and character.
school = "Touro"

# for idx, ch in ...:
#     ...
for idx, ch in enumerate(school):
  print(idx, ch, school[idx])

0 T T
1 o o
2 u u
3 r r
4 o o

## 3. Membership Tests
You can test whether a substring is contained in a string using `in` and `not in`.

In [51]:
phrase = "Touro Graduate Center for Technology"

print("our" in phrase)      # example
print("xyz" in phrase)      # example

# TODO: Write 3 more membership tests below.
# 1) Something that should be True.
# 2) Something that should be False.
# 3) A test using "not in".
# Print the results so you can verify your predictions.

print()
print("ate" in phrase)
print("hello" in phrase)
print("hello" not in phrase)

True
False

True
False
True

In [54]:
#Concatenation:
x= "Touro "
y= "LAS "

z= x+y
x+=y
print(x, "==", z)

#if want to add  number to string u need to convert to string

#can multiply string:
h = "ha"
h*= 4
print(h)

Touro LAS  == Touro LAS

hahahaha

In [60]:
#Slice and replace
s= "yellow" #to jello
s.replace("w","").replace("y","j")
print(s)

#or can do slicing:
s = "yellow"
s = s[0:-1]
s = s.replace("y","j")
print(s)

yellow
jello

## 4. Immutability in Action
Strings are **immutable**. You cannot change them in place; you must create a new string.

In [72]:
s = "Hello"
print("Original:", s)

# Uncomment the next line and run to see what happens:
#s[0] = "J"  # This should raise a TypeError

# TODO: Instead of trying to modify s in place, build a NEW string
# that changes the H to J (so the result is "Jello").
# Hint: use slicing and concatenation.
# new_s = ...
# print("New string:", new_s)
new_s = s[0].replace("H","J")
print("New string:", new_s + s[1:])

Original: Hello
New string: Jello

## 5. Common String Methods (Reference)
Here are some string methods you may find useful in the next exercises:

- `s.lower()` – return a lowercase version of the string
- `s.upper()` – return an uppercase version of the string
- `s.strip()` – remove whitespace at the start and end
- `s.isalpha()` – True if all characters are letters
- `s.isdigit()` – True if all characters are digits
- `s.isspace()` – True if the string is all whitespace
- `s.startswith(x)` / `s.endswith(x)` – test prefixes/suffixes
- `s.find(x)` – find first index of `x` or -1 if not found
- `s.replace(old, new)` – return new string with replacements
- `s.split(delim)` – split into a list on `delim` (or whitespace)
- `'sep'.join(list)` – join list of strings with a separator

You do **not** need to memorize all of these right now, but practice will make them feel natural.

### 5.1 Cleaning Up Input
Suppose we get messy user input with extra spaces and mixed case.
Use string methods to clean it up.

In [117]:
raw_name = "   cHaNa   "
print("Raw:", repr(raw_name))

# TODO: 1) Remove the extra spaces at the start and end.
# TODO: 2) Convert the result to title case (first letter capitalized).
# Hint: you can use strip() and either lower()/upper() creatively,
# or try .capitalize() or .title().

#CLEAN INPUT: MEANS TO NORMALIZE STRING: no extra spaces, all lowercase....
# cleaned = ...
# print("Cleaned:", cleaned)
cleaned = raw_name.strip().title()
print("Cleaned:", cleaned)

Raw: '   cHaNa   '
Cleaned: Chana

In [93]:
s= "Hello-today-is sunday"
#uncomment each out and see what happens...
#s.split() #strip space
#s.split("-")
#''.join(s)

['Hello', 'today', 'is sunday']

In [118]:
name = "    Leah Koenigsberg   "

#strip and uppercase
new = name.strip().upper()
print(new)

#find letter in string
s= new.find("l")
print("find:", s)

#isalpha- print true if all are letters
hello = new.isalpha()
print("isalpha:", hello) #will be false cuz there is a space

#see what starts with- print true/false
start = new.startswith("l")
print("Start:", start)

LEAH KOENIGSBERG
find: -1
isalpha: False
Start: False

### 5.2 Splitting and Joining
Use `split()` to break a string apart, and `' '.join(...)` to put it back together.

In [120]:
data = "apple,banana,pear,grape"
print("Original:", data)

# TODO:
# 1) Split data into a list of fruits using a comma as the delimiter.
# 2) Print the list.
# 3) Join the list back together using " | " as the separator.
#    The final string should look like: "apple | banana | pear | grape"

new = data.split(",")
print(new)
joined = "|".join(new)
print(joined)

Original: apple,banana,pear,grape
['apple', 'banana', 'pear', 'grape']
apple|banana|pear|grape

### 5.3 Find and Replace
Practice using `find()` and `replace()`.

In [123]:
sentence = "Touro is great. I love Touro!"
print("Original:", sentence)
# TODO:
# 1) Use find() to locate the first index where "Touro" appears.
# 2) Use replace() to change "Touro" to "Touro College" in the sentence.
# 3) Print the original and the modified sentence.

# Remember: replace() returns a NEW string.
sentence.find("Touro")
new = sentence.replace("Touro", "Touro College")
print("Modified:", new)

Original: Touro is great. I love Touro!
Modified: Touro College is great. I love Touro College!

## 6. Encoding and Decoding Text
Python strings are Unicode. To write them to a file or send them over the network, we need to encode them into bytes.

**Key ideas:**
- `text.encode('utf-8')` → Unicode text → bytes
- `b.decode('utf-8')` → bytes → Unicode text

In [ ]:
text = "Olam עולם"
print("Text:", text)

# Example: encode to UTF-8 bytes
encoded = text.encode("utf-8")
print("Encoded bytes:", encoded)

# TODO:
# 1) Decode the encoded bytes back into a string using utf-8.
# 2) Print the decoded value and check that it matches the original text.

## 7. F-Strings Basics
F-strings (formatted string literals) let us embed expressions directly inside strings.

Syntax: `f"Hello, {name}!"`

In [165]:
#ANANGRAM
#create a function that accepts 2 strings and compares them,
#such that if each contains exactly the same charachters and no additional characters,
#your function returns true otherwise false.else
#Normalize all data

def my_str(str_one, str_two):
  one = str_one.lower()
  if one == str_two:
    return True
  else:
    return False
my_str("Apple", "apple")

True

In [163]:
#PALINDROME
#given two strings is one word the same as the other if reversed

def my_str(one, two):
  if one[::-1] == two:
    return True
  else:
    return False
my_str("racecar", "racecar")

True

In [137]:
#f strings!!
#left align: <
#right align: >
#center align: ^
for i in [(1, "Hello"), (2, "Leah"), (3, "Koenigsberg")]:
  print(f'{i[0]:<5} | {i[1]:>5}')

num = 8.45678
print(f'{num:.2f}')
print(f'{34:1d}') #integer
print(f'{34:05d}') #puts zeros before as integer
print(f'{1234567:,}') #commas

print()
f= "Hello"
m = "Leah"
print(f'{f=}, {m=}')

1     | Hello
2     |  Leah
3     | Koenigsberg
8.46
34
00034
1,234,567

f='Hello', m='Leah'

In [162]:
name = "Chana"
course = "MCON 141"

# Example:
print(f"Hello, {name}! Welcome to {course}.")

# TODO:
# 1) Create two variables, day and topic.
# 2) Use an f-string to print a friendly message that includes both.
#    Example format (your words): Today is <day> and we are learning <topic>.
day = "Sunday"
topic = "Advanced Programming"
print(f'Today is {day}, and we are learning {topic}!')

Hello, Chana! Welcome to MCON 141.
Today is Sunday, and we are learning Advanced Programming!

### 7.1 F-Strings and Field Width
Use field width and alignment for simple tabular output.

In [159]:
items = [("A", 10), ("B", 200), ("C", 4)]

# Example row format using f-strings:
print("Item  | Value")
print("--------------")

# TODO: In the loop, use an f-string with alignment so that
# the item is left-aligned in a width of 5, and the value is
# right-aligned in a width of 5.
# Hint: {expr:<5} and {expr:>5}

for label, value in items:
    print(f'{label:<5} | {value:>5}')

Item  | Value
--------------
A     |    10
B     |   200
C     |     4